sub.domain.ext {
  root * /static

  encode zstd gzip

  @is-file file
  handle @is-file {
    file_server
  }

  handle {
    reverse_proxy app:3000
    header {
      # enable HSTS
      Strict-Transport-Security max-age=31536000;
      # disable FLoC tracking
      Permissions-Policy interest-cohort=()
      # disable clients from sniffing the media type
      X-Content-Type-Options nosniff
      # clickjacking protection
      X-Frame-Options DENY
      # enable cross-site filter (XSS)
      # and tell browser to block detected attacks
      X-Frame-Options "Deny"
      # enable CSP
      Content-Security-Policy "default-src 'self'; style-src 'self'; script-src 'self'; font-src 'self'; img-src 'self'; form-action 'self'; connect-src 'self'; frame-ancestors 'none';"
    }
  }
